<!DOCTYPE html>
<html lang="en">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form">
					<span class="login100-form-title p-b-26">
						Welcome to BatFunds
					</span>
					<a href="/login">
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn"> Proceed to Login</button>
						</div>
					</div>
					</a>

					<div class="text-center p-t-115">
						<span class="txt1"> Don’t have an account? </span>

						<a class="txt2" href="/signup">	Sign Up	</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
