<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>

	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 wide">
				<div class="login100-form">
					<span id="welcomeMessage" class="login100-form-title p-b-26"></span>
					<span id="userDetails" class="p-b-50"></span>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<a href="/logout"><button class="login100-form-btn"> Logout</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<script>
		$.getJSON('/getCurrentUser', function(user) {
			$("#welcomeMessage").html("Welcome " + user.first_name)
			$("#userDetails").html("Email: " + user.email + "</BR>" + "User Since: " + user.createdAt)
		});
	</script>

</body>
</html>
